ion-tab-bar{
    --ion-background-color: rgb(41, 38, 38);
    border-radius: 20px 20px 0 0;
    width: 100%;
    
    ion-tab-button{
        --background : transparent;
        --color-selected: rgb(255, 145, 2);
        margin: 16px 20px;
    }
    ion-icon{
        font-weight: bold;
    }
    ion-label{
        font-weight: bold;
    }
}