ion-content {
    --background: linear-gradient(#FFF, #F9A732);
   }
   ion-toolbar{
     --ion-background-color: transparent;
     --opacity: 0;
   }
   ion-card{
     --ion-background-color: #FD9F19;
     
   }
   h6{
     font-weight: bold;
     font-size: 20px;
     
   }
  .imgC{
    width: 69%;
    margin: 5px auto;
}
.logo{
  margin: 20px auto;
}
