*{
    --background: linear-gradient(#ffffff, #F9A732);
  }

  #h{
    font-size: 15px;
    text-align: center;
  }
  span{
    text-align: center;
  }
  .titre{
    display: block;
    margin: 0 auto;

  }
  audio {
    width: 200px;
    height: 40px;
    margin: 0 auto 10px;
  }
  div{
    width: 0 auto;
  }